/* Home.module.css */

.container {
  background-image: url("../../assets/backgroundapp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}

.homeTitle {
  font-family: "cook";
  margin: 16px;
  position: relative;
  z-index: 1;
  color: #fff350;
  font-size: 3rem; /* Aumenta el tamaño del título */
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(190, 105, 24, 0.4);
  display: inline-block;
  letter-spacing: 2px; /* Añade espacio entre las letras */
}
