.mainContainer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(190, 105, 24);
  height: 64px;
  align-items: center;
  font-family: Helvetica, sans-serif;
  width: 100%;
}

.link button {
  width: 150px;
  height: 32px;
  border-radius: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
